<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
</head>
<body>
    <h1>Sign Up</h1><br>
    <div class ="signUp">
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/players" method="POST">
        <label><b>Name: 
            </b>
        </label>
            <input type="text" name="name" id="name" /><br/>
            <br></br>
        <label><b>Username: 
            </b>
        </label>
            <input type="text" name="username" id="uname"/><br/>
            <br></br>
        <label><b>Password: 
            </b>
            </label>
            <input type="text" name="password" id="pass"/><br/>
            <br></br>
        <input type="submit" name="" id="sign" value="SignUP"/>
    </form>
    </div>
</body>
</html>