<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <div class = "pokeImg">
    <p class ="pokeName"><%=pokemons.name %></p>
    <img src="<%=pokemons.img %>" alt ="pokemon image">
    <!-- <a href ="<% pokemons.img %>"> <%=pokemons.img %> </a> -->
    </div>  

</body>
</html>